<div class="mainmenu pull-left">
    <ul class="nav navbar-nav collapse navbar-collapse">
        <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
        <li class="dropdown">
            <a href="#">Shop<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a asp-controller="Home" asp-action="Shop">Products</a></li>
                <li><a asp-controller="Home" asp-action="ProductDetails">Product Details</a></li>
                <li><a asp-controller="Home" asp-action="CheckOut">Checkout</a></li>
                <li><a asp-controller="Home" asp-action="Cart">Cart</a></li>
                <li><a asp-controller="Home" asp-action="Login">Login</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a asp-controller="Home" asp-action="Blogs">Blog<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a asp-controller="Home" asp-action="Blogs">Blog List</a></li>
                <li><a asp-controller="Home" asp-action="BlogSingle">Blog Single</a></li>
            </ul>
        </li>
        <li><a asp-controller="Home" asp-action="Index">404</a></li>
        <li><a asp-controller="Home" asp-action="ContactUs">Contact</a></li>
        <li><a asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
    </ul>
</div>
