
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CardEmp</title>
</head>
<body>
    <h3>Карточка сотрудника</h3>
    <table class="table table-bordered">
        <tr>
        </tr>
    </table>
    <hr />
    <a href="~/Home/Employees">Назд к списку</a>
</body>
</html>
