@model IEnumerable<WebStore_Core.Models.Employee>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employes</title>
</head>
<body>
    <h3>Сотрудники</h3>
    <table>
        <thead>
            <tr>
                <th>
                    id
                </th>
                <th>
                    Фамилия
                </th>
                <th>
                    Имя
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
            <tr>
                <td>
                    @employee.Id
                </td>
                <td>
                    @employee.LastName
                </td>
                <td>
                    @employee.FirstName
                </td>
                <td>
                    <a asp-action="Details"
                       asp-route-id="@employee.Id">Детали</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <hr />
    <a href="~/Home/Index">Домой</a>
</body>
</html>
